body {
  margin:0;
  // background:#FFFDF9
}
:root {
  --color-page-background: #FAFAFA !important;
}

.rt-BaseButton {
  cursor:pointer;
}
.reset {
  appearance: none;
  border:none;
  padding:0px;
  margin:0px;
  background: none;
  cursor: pointer;
}
.app-title-section {
}

.custom-grid{
  display:flex;
}
.cg-1rds {
  max-width:400px;
  width:100%;
}
.cg-3rds {
  flex-grow:1;
}

.comp-pad {
  padding:20px;
}

.app-card {
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 0 4px #F2F2F2;
  }
}