@import './shadows';

a {
  text-decoration: none;
}
.linkItem {
  color:#333;
  text-decoration: underline;
}


.pop {
  position:absolute;
  bottom:60px;
  right:60px;
  width:290px;
  height:260px;
  background:#222;
  border-radius:12px;
  border:1px solid #111;
  color:white;
}

.ProseMirror {
  box-shadow:0px 0px 0px 2px #c5eaef;
  border-radius: 5px;
  height:100%;
  min-height: 640px;
  padding:10px 30px;
}






.gradbug {

}

.gradbug::before {
  content:'';
  z-index:-1;
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  filter:blur(100px);
  opacity:0.3;
  transition:opacity 0.3s;
  border-radius:inherit;
  background:linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
}

.dropzone {
  padding:40px 3px;
  border-radius: 6px;
  border:2px dashed var(--colors-gray6);
  text-align: center;
  &:hover {
    border-color: var(--colors-blue9);
  }
}

.react-colorful__pointer {
  width:23px !important;
  height:23px !important;
}