$spaceY: 16px;
$spaceX: 12px;
.AppLayout {
  display: flex;
  height: 100%;
  // flex-direction: column;
}

.Sidebar {
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border-right: 1px solid #ededed;
  background: white;
  box-sizing: border-box;
  //hide scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
}

.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spaceY $spaceX;
  border-right: 1px solid #ededed;
}

.SidebarContent {
  flex-direction: column;
  gap: 40px;
  width: 220px;
  padding: $spaceY 0px;
}

.SidebarContentHeader {
  padding: 0 $spaceX;
}

.MainContent {
  flex-grow: 1;
  flex-direction: column;
}

.ContentTitleBar {
  background: white;
  align-items: center;
  padding: $spaceY 40px;
  border-bottom: 1px solid #ededed;
}

.Content {
  padding: 40px 0px;
}

.NavList {
  flex-direction: column;
}
.NavItem {
  padding: 0 $spaceX;
  text-decoration: none;
  color: var(--black-a12);
  &:hover {
    color: var(--lime-11);
  }
  & > div {
    border-radius: var(--radius-3);
    padding: 0px var(--space-2);
    height: 40px;
  }
}

.NavItemActive {
  & > div {
    background: var(--teal-4);
    color: var(--teal-11);
  }
}
