NEXT_PUBLIC_API_MOCKING=enabled
NEXT_PUBLIC_SCUTE_BASE_URL=https://api.scute.io
NEXT_PUBLIC_SCUTE_APP_ID=
NEXT_PUBLIC_SCUTE_APP_DOMAIN=
SCUTE_SECRET=

SCUTE_SECRET=7f1f97df2b7e9bcfef51817de1b0fbfa737d298cfd00571d2bd68018c30e77ab